<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>PALMA - Registo de nova conta </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon.png">
    <link href="../css/style.css" rel="stylesheet">

</head>

<body class="h-100">
    <div class="authincation h-100">
        <div class="container-fluid h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
                                    <h4 class="text-center mb-4">Formulário de registo</h4>
                                    <form action="index.html">
                                        <div class="form-group">
                                            <label><strong>Nome completo</strong></label>
                                            <input type="text" class="form-control" id="fullName" placeholder="Nome completo" required>
                                        </div>
                                        <div class="form-group">
                                            <label><strong>E-mail</strong></label>
                                            <input type="email" id="email" class="form-control" placeholder="Digita o seu e-mail">
                                        </div>
                                        <div class="form-group">
                                            <label><strong>Palavra-passe</strong></label>
                                            <input type="password" class="form-control" id="password">
                                        </div>
                                        <div class="text-center mt-4">
                                            <button type="submit" class="btn btn-primary btn-block">Criar conta</button>
                                        </div>
                                    </form>
                                    <div class="new-account mt-3">
                                        <p>Já tem uma conta? <a class="text-primary" href="./login.html">Entrar</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="../vendor/global/global.min.js"></script>
    <script src="../js/quixnav-init.js"></script>
    <!--endRemoveIf(production)-->
</body>

</html>