
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Palma </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon.png">
    <link rel="stylesheet" href="../../vendor/owl-carousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../../vendor/owl-carousel/css/owl.theme.default.min.css">
    <link href="../../vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet">
    <link href="../../css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/custom/style.css">

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
     <div id="preloader" class="loader">
       <div class="spinner"></div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header bg-logo">
            <a href="/dashboard" class="brand-logo">
                <!-- <img class="logo-abbr" src="../../images/logo.png" style="width: 100px;" alt="logo"> -->
                <img src="../../images/logo.png" alt="">
               
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header" id="header">
           
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="quixnav" id="quixnav">

        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
            <div class="container-fluid">
            <div class="row">
                    <div class="col-lg-6 col-sm-6">
                        <div class="card">
                            <div class="stat-widget-one card-body">
                                <div class="stat-icon d-inline-block">
                                    <i class="fa-solid fa-circle-dollar-to-slot text-success border-success"></i>
                                </div>
                                <div class="stat-content d-inline-block">
                                    <div class="stat-text">Venda diária</div>
                                    <div class="stat-digit" id="todaySales"></div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
              
                    <div class="col-lg-6 col-sm-6">
                        <div class="card">
                            <div class="stat-widget-one card-body">
                                <div class="stat-icon d-inline-block">
                                    <i class="fa-solid fa-circle-dollar-to-slot text-pink border-pink"></i>
                                </div>
                                <div class="stat-content d-inline-block">
                                    <div class="stat-text">Receita diária</div>
                                    <div class="stat-digit" id="revenue"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                  
                </div>
                <div class="row">
                    <div class="col-sm-7 col-md-8 col-xxl-6 col-xl-8 col-lg-6">
                        <div class="card">
                            <div class="card-header bg-title-chart">
                                <div><h4 class="card-title"><i class="fas fa-chart-column"></i> Vendas e Receitas</h4></div>
                                <div>
                                    <select class="form-control" id="chartType">
                                            <option value="line" >Linhas</option>
                                            <option value="bar" selected>Barras</option>
                                            
                                </select>
                                </div>

                            </div>
                            <div class="col-sm-12 col-md-12 col-xxl-12 col-xl-12 col-lg-12 py-4">
                                    <canvas id="area"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-md-4 col-xxl-4 col-xl-4 col-lg-6">
                        <div class="card ">
                            <div class="card-header bg-title-chart">
                                <div><h4 class="card-title"><i class="mdi mdi-finance"></i> Top 3 mais vendidos</h4></div>
                                <div>
                                    <select class="form-control" id="interval">
                                            <option value="daily" >Hoje</option>
                                            <option value="weekly" >Esta semana</option>
                                            <option value="monthly" selected>Mês corrente</option>
                                           
                                            
                                </select>
                                </div>

                            </div>
                            <div class="card-body py-4">
                                
                                    <canvas id="myChart"></canvas>
                                
                            </div>
                        </div>
                    </div>
                </div>



                <!-- Timeline start -->

                
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
        <div id="_passwordModal"></div>
        <div class="footer">
            <div class="copyright " id="footer-info">
                
            </div>
        </div>
       

    </div>
 
 
    <script src="../../vendor/global/global.min.js"></script>
    <script src="../../js/components.js"></script>
    <script src="../../js/quixnav-init.js"></script>
    <script src="../../js/custom.min.js"></script>
    
    <!-- Chart =========== -->

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../../js/home/chart2.js"></script>


    <!-- Chart end =========== -->
      <!-- Sweet alert -->
      <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

      <script src="../../js/home/index2.js"></script>

</body>

</html>