<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../css/custom/login.css">

    <title>Palma-Login</title>
</head>
<body>
   
    <div class="conteinerLogin">
        <div class="login">
            <div class="telo">
                <div class="telas">
                    <form action="#">
                        <div class="logo">
                            <img src="../../images/palma.png" alt="">
                        </div>
                        <div class="msg">
                            
                        </div> 
                        <div class="tey">
                            <div class="tela1">
                                <div class="labelas">
                                    <input type="text" id="username" class="element" placeholder="Email / Usuário">
                                    <input type="password" id="password" class="element" placeholder="senha">
                                </div>
                                <div class="linhaSign">
                                    <!-- <div class="logado">
                                        <input type="checkbox" id="logadoL">
                                        <label for="logadoL">
                                            Manter conectado
                                        </label>
                                    </div> -->
                                    <div class="esqueciL">
                                        <div class="senhaEsqueci">
                                            Esqueceu sua senha?
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="tela2">
                               <span>
                                    Por motivos de segurança recomendamos que contacte o administrador do sistema para recuperar a sua conta.
                               </span>
                               <div class="btnVoltar">
                                &lt;
                                    Voltar
                               </div>
                            </div>
                        </div>
                       
                        
                        <input type="submit" value="Entrar" id="login-btn" class="entrar">
                    </form>
                    
                </div>
                <div class="telas">
                    tela 2
                </div>
            </div>
            <div class="btn">
                <label for=""></label>
                
            </div>
            
        </div>
    </div>
    <script src="../../login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script> 
        $(document).ready(function(){
            $(".senhaEsqueci").click(function(){
                $(".tela2").css("width", "320px");
                $(".tela1").css("width", "0px");
            });

            $(".btnVoltar").click(function(){
                $(".tela2").css("width", "0px");
                $(".tela1").css("width", "320px");
            });
        });
    </script>
    <script src="../../js/login/index.js"></script>
   
</body>
</html>