<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Palma</title>
    <link rel="stylesheet" type="text/css" href="../../css/custom/login.css">
</head>
<body>
    <div class="container">
        <form action="" class="form">
            <div class="logo">
                <img src="../../images/logo3.png" width="50" height="50" alt="">
            </div>
            <div class="inputGroup">
                <input type="text" name="name" id="username" class="input" required>
                <label for="username">E-mail ou Usuário</label>
            </div>
            <div class="inputGroup">
                <input type="password" name="password" id="password" class="input" required>
                <label for="password">Senha</label>
            </div>
            
            <button class="button" id="login-btn">Login</button>
    
            <a href="/user/reset/pw" class="forgotPass">Esqueci minha senha</a>
        
            <span class="or">Ou</span>
            
        </form>
        <div class="msg">
            Mensagem de erros
        </div>
    </div>
    <script src="../../login/vendor/jquery/jquery-3.2.1.min.js"></script>
    
    <script src="../../js/login/index.js"></script>
   <script src="../../js/sweetalert.min.js"></script>
</body>
</html>