<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Palma - Factura </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../../images/favicon.png">
    <!-- Custom Stylesheet -->
    <link href="../../css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/custom/style.css">

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
     <div id="preloader" class="loader">
       <div class="spinner"></div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header bg-logo">
            <a href="/" class="brand-logo">
                <!-- <img class="logo-abbr" src="../../images/logo.png" style="width: 100px;" alt="logo"> -->
                <img src="../../images/logo.png" alt="">
               
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header" id="header">
         
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="quixnav" id="quixnav">

        </div>

        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>EMITIR NOVA FACTURA</h4>
                            
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Factura</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0)">Emitir</a></li>
                        </ol>
                    </div>
                </div>
             
                <!-- row -->
                <div class="row">
                    <div class="col-xl-9 col-xxl-9 col-lg-9 col-sm-8">
                           <!-- Search form start -->
                            <div class="row page-titles mx-0 col-xl-12 col-xxl-12 col-lg-12 col-sm-12">
                                <div class="col-xl-12 col-xxl-12 col-lg-12 col-sm-12 ">
                                    <div class="card-header">
                                        <h5 class="card-title" style="color: black;">Pesquise O produto</h5>
                                    </div>
                                    <div class="input-group mb-3 mt-3">
                                        <input type="text" class="form-control" id="search-box" autofocus placeholder="Insira o código de barra ou o nome do produto">
                                        <div class="input-group-append search_">
                                            <button class="btn btn-primary px-3" id="searchProductBtn" type="button"><i class="fas fa-arrow-right"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Search form end -->
                        <div class="card">
                            <div class="card-body">
                                <!-- Table start -->
                                <div class="col-xxl-12 col-xl-12">
                                    <div class="card">
                                        <div class="card-header" id="cart-header">
                                            <h4 class="card-title">Carinho de compra</h4>
                                        </div>
                                        <div class="card-body">
                                            <!-- <div class="col-xxl-12 content" id="no-result"><span><i class="fas fa-triangle-exclamation mr-2"></i> Carinho de compras vazio</span></div> -->
                                            <!-- accordiion -->
                                           
                                            <div id="accordion-six" class="accordion accordion-with-icon">
                                                <div class="accordion__item">
                                                    <div class="accordion__header collapsed" data-toggle="collapse" data-target="#with-icon_collapseTwo">
                                                        <!-- <span class="accordion__header--icon"></span> -->
                                                        <span class="mr-5"><i class="mdi mdi-cart lg"></i> <i style="font-style: normal; position: absolute; top: 1px; left: 20px; font-size: small; color: red;" id="counter-id">0</i> </span>
                                                        <span class="accordion__header--text">Produtos selecionados</span>
                                                        <span class="accordion__header--indicator indicator_bordered"></span>
                                                    </div>
                                                    <div id="with-icon_collapseTwo" class="collapse accordion__body" data-parent="#accordion-six">
                                                        <div class="accordion__body--text">
                                                            <!-- Start table -->
                                                            <div class="table-responsive my-0">
                                                                <table class="table table-responsive-sm" id="table">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>#</th>
                                                                            <th>Nome</th>
                                                                            <th>Preço</th>
                                                                            <th>Quant</th>
                                                                            <th>Desc (%)</th>
                                                                            <th>Subtotal</th>
                                                                            <th>Acções</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody id="dta">
                                                                        
                                                                </table>
                                                            </div>

                                                            <!-- End table -->
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>

                                            <!-- End accordion -->
                                        </div>
                                    </div>
                                </div>
                                <!-- Table end -->
                            </div>
                            <div class="card-footer">
                                <p class="card-text d-inline">Factura</p>
                                <a href="/stock/view" class="card-link float-right">Ver o stock</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-xxl-3 col-lg-3 col-sm-4 ">
                        <div class="card">
                            <div class="card-header side-left-header">
                                <h5 class="card-title">Emissão de factura</h5>
                            </div>
                            <div class="card-body px-0">

                                <div class="form-group col-xxl-12 col-xl-12 col-md-12 mx-0 input-group">
                                    
                                    <select id="customerId" name="customerId" class="form-control">
                                        <option value="" selected disabled>Selecione o cliente</option>
                                    </select>
                                    <div class="input-group-prepend" data-toggle="modal" data-target="#addCustomerModal">
                                        <div class="input-group-text btn-primary"><i class="fas fa-user-plus" style="font-size: small;"></i> </div>
                                    </div>
                                </div>

                                <div class="form-group col-xxl-12 col-xl-12 col-md-12 mx-0 details">
                                    <div class="info-sale">
                                        <div>
                                            <span>Subtotal</span>
                                            <span id="s-subtotal">0.00MT</span>
                                        </div>
                                        <div>
                                            <span>Desconto</span>
                                            <span id="s-discount">0.00%</span>
                                        </div>
                                        <div>
                                            <span>Total</span>
                                            <span id="s-total">0.00MT</span>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="card-footer d-sm-flex finish-btn">
                                <button class="btn-primary save-sale" id="saleBtn">Gerar factura</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="modal fade lg " id="addCustomerModal">
                <div class="modal-dialog modal-dialog-centered" >
                    <div class="modal-content px-3">
                        <div class="modal-header">
                            <h5 class="modal-title">Registar cliente <h5>
                            <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="form-row col-md-12 p-0">
                                    <div class="form-group col-md-12 p-0">
                                        <label>Nome <i style="color: red;">*</i></label>
                                        <input type="text" id="customerName" class="form-control" placeholder="Digite o nome">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Registar</button>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
 
    <div id="_passwordModal"></div>
    <div class="footer">
            <div class="copyright " id="footer-info">
                
            </div>
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="../../vendor/global/global.min.js"></script>
    <script src="../../js/components.js"></script>
    <script src="../../js/quixnav-init.js"></script>
    <script src="../../js/custom.min.js"></script>
    
    <script src="../../js/invoice/index.js"></script>
      <!-- Sweet alert -->
      <script src="../../js/sweetalert.min.js"></script>
      <script src="../../js/jspdf.umd.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.3.2/purify.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>


</body>

</html>