<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Palma - Factura </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../../images/favicon.png">
    <!-- Custom Stylesheet -->
    <link href="../../css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/custom/invoice.css">
    <link rel="stylesheet" href="../../css/custom/style.css">
    
    <style>
        @media print {
            body * {
                display: none;
            }
            .invoiceContainer, .invoiceContainer * {
                display: block;
            }
        }
       
    </style>
</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header bg-logo">
            <a href="/" class="brand-logo">
                <!-- <img class="logo-abbr" src="../../images/logo.png" style="width: 100px;" alt="logo"> -->
                <img src="../../images/logo.png" alt="">
               
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header" id="header">
         
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="quixnav" id="quixnav">

        </div>

        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>EMITIR NOVA FACTURA</h4>
                            
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Factura</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0)">Emitir</a></li>
                        </ol>
                    </div>
                </div>
             
                <!-- row -->
                <div class="row">
                    <div class="col-xl-9 col-xxl-9 col-lg-9 col-sm-8">
                           <!-- Search form start -->
                            <div class="row page-titles mx-0 col-xl-12 col-xxl-12 col-lg-12 col-sm-12">
                                <div class="col-xl-12 col-xxl-12 col-lg-12 col-sm-12 ">
                                    <div class="card-header">
                                        <h5 class="card-title" style="color: black;">Pesquise O produto</h5>
                                    </div>
                                    <div class="input-group mb-3 mt-3">
                                        <input type="text" class="form-control" id="search-box" autofocus placeholder="Insira o código de barra ou o nome do produto">
                                        <div class="input-group-append search_">
                                            <button class="btn btn-primary px-3" id="searchProductBtn" type="button"><i class="fas fa-arrow-right"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Search form end -->
                        <div class="card">
                            <div class="card-body">
                                <!-- Table start -->
                                <div class="col-xxl-12 col-xl-12">
                                    <div class="card">
                                        <div class="card-header" id="cart-header">
                                            <h4 class="card-title">Carinho de compra</h4>
                                        </div>
                                        <div class="card-body">
                                            <!-- <div class="col-xxl-12 content" id="no-result"><span><i class="fas fa-triangle-exclamation mr-2"></i> Carinho de compras vazio</span></div> -->
                                            <!-- accordiion -->
                                           
                                            <div id="accordion-six" class="accordion accordion-with-icon">
                                                <div class="accordion__item">
                                                    <div class="accordion__header collapsed" data-toggle="collapse" data-target="#with-icon_collapseTwo">
                                                        <!-- <span class="accordion__header--icon"></span> -->
                                                        <span class="mr-5"><i class="mdi mdi-cart lg"></i> <i style="font-style: normal; position: absolute; top: 1px; left: 20px; font-size: small; color: red;" id="counter-id">0</i> </span>
                                                        <span class="accordion__header--text">Carinho de compras</span>
                                                        <span class="accordion__header--indicator indicator_bordered"></span>
                                                    </div>
                                                    <div id="with-icon_collapseTwo" class="collapse accordion__body" data-parent="#accordion-six">
                                                        <div class="accordion__body--text">
                                                            <!-- Start table -->
                                                            <div class="table-responsive my-0">
                                                                <table class="table table-responsive-sm" id="table">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>#</th>
                                                                            <th>Nome</th>
                                                                            <th>Preço</th>
                                                                            <th>Quant</th>
                                                                            <th>Desc (%)</th>
                                                                            <th>Subtotal</th>
                                                                            <th>Acções</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody id="dta">
                                                                        
                                                                </table>
                                                            </div>

                                                            <!-- End table -->
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>

                                            <!-- End accordion -->
                                        </div>
                                    </div>
                                </div>
                                <!-- Table end -->
                            </div>
                            <div class="card-footer">
                                <p class="card-text d-inline">Ver o estoque</p>
                                <a href="/sale/view" class="card-link float-right">Ver todas vendas</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-xxl-3 col-lg-3 col-sm-4 ">
                        <div class="card">
                            <div class="card-header side-left-header">
                                <h5 class="card-title">Finalizar venda</h5>
                            </div>
                            <div class="card-body px-0">

                                <div class="form-group col-xxl-12 col-xl-12 col-md-12 mx-0 input-group">
                                    
                                    <select id="customerId" name="customerId" class="form-control">
                                        <option value="" selected disabled>Selecione o cliente</option>
                                    </select>
                                    <div class="input-group-prepend" id="addCategoryModal">
                                        <div class="input-group-text bg-primary bt"><i class="fas fa-user" style="font-size: small;"></i> </div>
                                    </div>
                                </div>

                                <div class="form-group col-xxl-12 col-xl-12 col-md-12 mx-0 details">
                                    <div class="info-sale">
                                        <div>
                                            <span>Subtotal</span>
                                            <span id="s-subtotal">0.00MT</span>
                                        </div>
                                        <div>
                                            <span>Desconto</span>
                                            <span id="s-discount">0.00%</span>
                                        </div>
                                        <div>
                                            <span>Total</span>
                                            <span id="s-total">0.00MT</span>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="card-footer d-sm-flex finish-btn">
                                <button class="btn-primary save-sale" id="saleBtn">Finalizar venda</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



{# Invoice content start #}





<div class="invoiceContainer">
    <div class="py-4">
      <div class="px-14 py-6">
        <table class="w-full border-collapse border-spacing-0" >
          <tbody>
            <tr>
              <td class="w-full align-top">
                <div>
                  <img src="https://menkoff.com/assets/brand-sample.png" class="h-12" />
                </div>
              </td>

              <td class="align-top">
                <div class="text-sm">
                  <table class="border-collapse border-spacing-0">
                    <tbody>
                      <tr>
                        <td class="border-r pr-4">
                          <div>
                            <p class="whitespace-nowrap text-slate-400 text-right">Date</p>
                            <p class="whitespace-nowrap font-bold text-main text-right">April 26, 2023</p>
                          </div>
                        </td>
                        <td class="pl-4">
                          <div>
                            <p class="whitespace-nowrap text-slate-400 text-right">Invoice #</p>
                            <p class="whitespace-nowrap font-bold text-main text-right">BRA-00335</p>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="bg-slate-100 px-14 py-6 text-sm">
        <table class="w-full border-collapse border-spacing-0">
          <tbody>
            <tr>
              <td class="w-1/2 align-top">
                <div class="text-sm text-neutral-600">
                  <p class="font-bold">Supplier Company INC</p>
                  <p>Number: 23456789</p>
                  <p>VAT: 23456789</p>
                  <p>6622 Abshire Mills</p>
                  <p>Port Orlofurt, 05820</p>
                  <p>United States</p>
                </div>
              </td>
              <td class="w-1/2 align-top text-right">
                <div class="text-sm text-neutral-600">
                  <p class="font-bold">Customer Company</p>
                  <p>Number: 123456789</p>
                  <p>VAT: 23456789</p>
                  <p>9552 Vandervort Spurs</p>
                  <p>Paradise, 43325</p>
                  <p>United States</p>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="px-14 py-10 text-sm text-neutral-700">
        <table class="w-full border-collapse border-spacing-0" id="invoiceTable">
          <thead>
            <tr>
              <td class="border-b-2 border-main pb-3 pl-3 font-bold text-main">#</td>
              <td class="border-b-2 border-main pb-3 pl-2 font-bold text-main">Product details</td>
              <td class="border-b-2 border-main pb-3 pl-2 text-right font-bold text-main">Price</td>
              <td class="border-b-2 border-main pb-3 pl-2 text-center font-bold text-main">Qty.</td>
              <td class="border-b-2 border-main pb-3 pl-2 text-center font-bold text-main">VAT</td>
              <td class="border-b-2 border-main pb-3 pl-2 text-right font-bold text-main">Subtotal</td>
              <td class="border-b-2 border-main pb-3 pl-2 pr-3 text-right font-bold text-main">Subtotal + VAT</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="border-b py-3 pl-3">1.</td>
              <td class="border-b py-3 pl-2">Montly accountinc services</td>
              <td class="border-b py-3 pl-2 text-right">$150.00</td>
              <td class="border-b py-3 pl-2 text-center">1</td>
              <td class="border-b py-3 pl-2 text-center">20%</td>
              <td class="border-b py-3 pl-2 text-right">$150.00</td>
              <td class="border-b py-3 pl-2 pr-3 text-right">$180.00</td>
            </tr>
            <tr>
              <td class="border-b py-3 pl-3">2.</td>
              <td class="border-b py-3 pl-2">Taxation consulting (hour)</td>
              <td class="border-b py-3 pl-2 text-right">$60.00</td>
              <td class="border-b py-3 pl-2 text-center">2</td>
              <td class="border-b py-3 pl-2 text-center">20%</td>
              <td class="border-b py-3 pl-2 text-right">$120.00</td>
              <td class="border-b py-3 pl-2 pr-3 text-right">$144.00</td>
            </tr>
            <tr>
              <td class="border-b py-3 pl-3">3.</td>
              <td class="border-b py-3 pl-2">Bookkeeping services</td>
              <td class="border-b py-3 pl-2 text-right">$50.00</td>
              <td class="border-b py-3 pl-2 text-center">1</td>
              <td class="border-b py-3 pl-2 text-center">20%</td>
              <td class="border-b py-3 pl-2 text-right">$50.00</td>
              <td class="border-b py-3 pl-2 pr-3 text-right">$60.00</td>
            </tr>
            <tr>
              <td colspan="7">
                <table class="w-full border-collapse border-spacing-0">
                  <tbody>
                    <tr>
                      <td class="w-full"></td>
                      <td>
                        <table class="w-full border-collapse border-spacing-0">
                          <tbody>
                            <tr>
                              <td class="border-b p-3">
                                <div class="whitespace-nowrap text-slate-400">Net total:</div>
                              </td>
                              <td class="border-b p-3 text-right">
                                <div class="whitespace-nowrap font-bold text-main">$320.00</div>
                              </td>
                            </tr>
                            <tr>
                              <td class="p-3">
                                <div class="whitespace-nowrap text-slate-400">VAT total:</div>
                              </td>
                              <td class="p-3 text-right">
                                <div class="whitespace-nowrap font-bold text-main">$64.00</div>
                              </td>
                            </tr>
                            <tr>
                              <td class="bg-main p-3">
                                <div class="whitespace-nowrap font-bold text-white">Total:</div>
                              </td>
                              <td class="bg-main p-3 text-right">
                                <div class="whitespace-nowrap font-bold text-white">$384.00</div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="px-14 text-sm text-neutral-700">
            <p class="text-main font-bold">PAYMENT DETAILS</p>
            <p>Banks of Banks</p>
            <p>Bank/Sort Code: 1234567</p>
            <p>Account Number: 123456678</p>
            <p>Payment Reference: BRA-00335</p>
      </div>

      <div class="px-14 py-10 text-sm text-neutral-700">
            <p class="text-main font-bold">Notes</p>
            <p class="italic">Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries
            for previewing layouts and visual mockups.</p>
        </dvi>

        <footer class="fixed bottom-0 left-0 bg-slate-100 w-full text-neutral-600 text-center text-xs py-3">
            Supplier Company
            <span class="text-slate-300 px-2">|</span>
            info@company.com
            <span class="text-slate-300 px-2">|</span>
            +1-202-555-0106
        </footer>

      </div>
    </div>



{# Invoice content end #}


 
    <div id="_passwordModal"></div>
    <div class="footer">
            <div class="copyright " id="footer-info">
                
            </div>
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="../../vendor/global/global.min.js"></script>
    <script src="../../js/components.js"></script>
    <script src="../../js/quixnav-init.js"></script>
    <script src="../../js/custom.min.js"></script>
    
    <script src="../../js/invoice/index.js"></script>
      <!-- Sweet alert -->
      <script src="../../js/sweetalert.min.js"></script>

      <script>
  // Function to convert HTML table to PDF
  function generatePDF() {
    $(".invoiceContainer").css("display","flex")
      window.print();
  }

  document.getElementById('saleBtn').addEventListener('click', generatePDF);
</script>
</body>

</html>